@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Graphik Regular;
      font-weight: 400;
      src: url(/fonts/Graphik_Medium_Regular.ttf) format("ttf");
    }
    @font-face {
      font-family: Graphik Medium;
      font-weight: 500;
      src: url(/Graphik_Regular_Regular.ttf) format("ttf");
    }
  }