@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'GraphikRegular';
      font-display: swap;
      src: local('Graphik Regular'), 
      url(/fonts/Graphik_Regular_Regular.otf) format('otf'),
      url(/fonts/Graphik_Regular_Regular.ttf) format('ttf'),
      url(/fonts/Graphik_Regular_Regular.woff2) format('woff2');
    }
    @font-face {
      font-family: 'GraphikMedium';
      font-display: swap;
      src: local('Graphik Medium'), 
      url(/fonts/Graphik_Medium_Regular.otf) format('otf'),
      url(/fonts/Graphik_Medium_Regular.ttf) format('ttf'),
      url(/fonts/Graphik_Medium_Regular.woff2) format('woff2');
    }
  }